body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#title::before{
    background-image: url('https://images.unsplash.com/photo-1470093851219-69951fcbb533?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1950&q=80');
    background-position: center;
    background-size: cover;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 800px;
    z-index: -1;
}
#title {
    padding-bottom: 7rem;
}
#title #nav-img{
    width: 80px;
    height: 80px;
    border-radius: 100%;
}
.heading {
    font-family: 'Montserrat-Black', sans-serif;
    font-weight: 900;
    size: 50rem;
    line-height: 1.5;
    color: aliceblue;
    font-size: 3.5rem;
}
.heading span{
    color: crimson;
    text-transform: uppercase;
    font-style: italic;
}
.container {
    padding: 3% 15%;
}

/* Navigation Menu */

.navbar-nav li a {
    font-weight: 900;
    color: black;
}

#navbar {
    padding: 0 0 4.5rem;
}

#brand {
    font-size: 3rem;
}

.nav-item {
    padding: 0 18px;
}

.nav-item a {
    font-size: 1.5rem;
}

/* Buttons */

button {
    padding-top: 1rem;
}

#download_btn {
    margin: 5rem 1rem 0 1rem;
}

/* title image */

#title-image {
    width: 60%;
    transform: rotate(20deg);
    position: absolute;
    left: 25%;
}

/* features */

#features {
    padding: 10% 15%;
    background-color: white;
    position: relative;
    z-index: 1;
}

#features i {
    font-size: 4rem;
    color: brown;
    margin-bottom: 20px;
}

#features i:hover {
    color: chartreuse;
}
#features h3{
    font-size: 2.4rem;
}
#features p{
    font-size: 22px;
}

/* testimonials */

#testimonials {
    background-color: aqua;
    color: red;
    line-height: 1.2rem;
    text-align: center;
}

h2 {
    font-family: 'Montserrat';
    font-size: 2.5rem;
    font-weight: bold;
}

#testimonials-img {
    width: 20%;
    border-radius: 100%;
    margin: 20px 0px;
}

/* press */

#press {
    background-color: aqua;
    padding-bottom: 8%;
}

#press-img {
    width: 15%;
    height: 60px;
    margin: 0 2rem;
}

.carousel-item {
    padding: 7% 15%;
}

/* Gallery */
#gallery{
    padding: 6% 8% 4%;
}
#gallery img{
    width: 100%;
    height: 100%;
}
#gallery .row div{
    padding: 1% 1.5%;
}
#gallery h1{
    font-size: 3.4rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder;
}

.navbar-dark .navbar-nav .nav-link {
    color: rgba(255,255,255,.5);
    font-size: 30px;
}






/* pricing */

.pricing-column {
    padding: 5% 10%;
}

.card {
    text-align: center;
}

/* cta */
#cta{
    padding: 5% 25%;
    background-color: darksalmon;
    text-align: center;
    color: white;
}
#cta h3{
    font-size: 3rem;
}
#cta button{
    margin: 3% 5%;
}

/* footer */
#footer{
    font-size: 3rem;
    text-align: center;
    padding: 6% 20%;
}
#footer i{
    margin: 3% 5%;
}

/* Responsive Design */
@media screen and (max-width: 995px){

    #title{
        text-align: center;
    }
    #title-image {
        width: 58%; 
        transform: rotate(0deg);
        position: static;
        margin-top: 50px;
    } 
}

